:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --highlight-color: #7a7a7a;
    --nav-bg-color: #2a2a2a;
    --nav-text-color: #ffffff;
}

body {
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

.outer-body-div {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    border: 8px solid #000000;
    border-radius: 0px;
    background: #000000; 
}

.inner-body-div {
    flex: 1;
    box-sizing: border-box;
    overflow: auto;

    border-radius: calc(20px - 4px);
    background: #fff;
    margin: 0;
}

nav {
    background-color: var(--nav-bg-color);
    padding: 5px;
    border-radius: 25px;
    display: inline-block;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: 16px;
    padding: 6px 18px;
    background-color: transparent;
    display: inline-block;
    margin: 0 0px;
    border-radius: 20px;
    transition: none;
    outline: none;
}

nav a.active {
    background-color: #ffffff;
    color: #000000;
}

nav a.active:hover{
    background-color: white;
    color: black;
    border: none;
}

nav a:not(.active) {
    background-color: #2a2a2a;
}

nav a:not(.active):hover {
    outline: none;
    border: none;
    color:#b1b1b1;
}

nav a:hover {
    background-color: #2a2a2a;
    color: #ffffff;
}

main {
    flex: 1;
    padding-top: 130px;
    max-width: 550px; 
    margin: 0 auto;
}

section {
    display: none;
    border-radius: 2px;
    border-color: #000000;
}

section.active {
    display: block;
}

.name {
    font-size: 54px;
    font-weight: 500;
    margin: 0 0 30px 0;
    text-align: left;
}

.highlight {
    color: var(--highlight-color);
}

.number {
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    padding: 0px 12px;
    margin: 0px 5px;
    font-size: 15px;
}

#about p a {
    border-bottom: 1px solid #b1b1b1;
}
#about p a:hover {
    border-bottom: 1px solid #555;
}

.about-content, .home-content, .achievements-content, .skills-content {
    padding-left: 0px;
}

.skill-sub-content {
    margin-bottom: 4px;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
}

.connect {
    margin-top: 30px;
    line-height: 1;
}

.connect a,
.certificate a,
#projects a{
    border-bottom: 2px solid #000000;
    margin: 0 3px;
    font-weight: 500;
    padding-bottom: 1px;
    display: inline-block;
}

.connect a:hover,
.certificate a:hover,
#projects a:hover {
    border-bottom: 2px solid #a6a6a6;
    color: #a6a6a6;
    transition: border-bottom 0.3s, color 0.3s;
}

.certificate ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.certificate li {
    margin-bottom: 4px;
}

.certificate a {
    display: inline-block;
}

a:hover {
    border-bottom: 1px solid #555;
}

#projects {
    text-align: center;
    line-height: 1;
}

.hidden {
    display: none !important;
}

#resume-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#resume-container {
    padding: 0px;
    border-radius: 5px;
    position: relative;
    width: 60%;
    height: 90%;
}

#resume-frame {
    width: 100%;
    height: 100%;
    border: none;
}

::selection {
    background-color: var(--text-color);
    color: var(--bg-color);
}


.gallery-item {
    display: inline-block;
    text-align: center; 
    margin: 10px; 
}

.gallery-item img {
    object-fit:cover;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
}

.outer-image-container {
    margin: 20px 0px 200px;
}

.image-container {
    display: flex;
    white-space: nowrap;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    cursor: grab;
    user-select: none;
    overflow: hidden;
    overflow-x: auto;
    transition: transform 1s ease;
}

.image-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

.image-container img {
    flex-shrink: 0;
    width: 220px; 
    height: 250px; 
    margin-right: 2px;
    border: 2px solid black; 
    cursor: grab; 
}

.image-container img:active {
    cursor: grabbing; 
}

.image-container.active {
    cursor: grabbing;
}

.image-container.dragging {
    transition: none;
}

.image-caption {
    color: #333; 
    text-align: left;
    white-space: normal; 
    padding: 0px 10px 0px 4px;
}

@media (max-width: 700px) {
    nav {
        padding: 10px 20px;
    }

    nav a {
        font-size: 16px;
        margin: 0 10px;
    }

    main {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 42px;
    }

    body, li, .connect a {
        font-size: 16px;
    }
}