.photo-stacks {
  min-height: 100vh;
  padding: 8vh 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.photos-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 2vw;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  width: 100%;
  background-color: white;
  overscroll-behavior-x: contain;
}

.photos-wrapper:active {
  cursor: grabbing;
}

.photos-wrapper::-webkit-scrollbar {
  display: none;
}

.photos-container {
  display: flex;
  gap: 1vw;
  width: max-content;
  touch-action: pan-y pan-x;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 0;
}

.photo-item {
  flex-shrink: 0;
  height: clamp(380px, 34vw, 460px);
  border-radius: 20px 20px 0 0px;
  background: rgb(222, 222, 222);
  padding-bottom: 12px;
  overflow: hidden;
  transition: transform 0.15s ease-out;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.photo-item:hover {
  transform: scale(1.025) translateZ(0);
}

.photo-item.dragging {
  transform: scale(0.98) translateZ(0);
}

.photo-item.dragging:hover {
  transform: scale(0.98) translateZ(0);
}

.photo-item img {
  width: auto;
  height: 100%;
  display: block;
  object-fit: contain;
  border-radius: inherit;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

@media screen and (max-width: 768px) {
  .photos-wrapper {
    padding: 0 4vw;
  }

  .photos-container {
    gap: 4vw;
  }

  .photo-item {
    height: 380px;
  }
}

@media screen and (max-width: 540px) {
  .photo-stacks {
    padding: 8vh 0 10vh 0;
    min-height: auto;
  }

  .photo-item {
    height: 350px;
  }
}

@media screen and (max-width: 375px) {
  .photo-item {
    height: 320px;
  }
}
