/* Import fonts with proper Vite handling */

/* Normal Helvetica Fonts */
@font-face {
    font-family: 'Helvetica';
    src: url('/src/assets/fonts/Helvetica/Helvetica.woff2') format('woff2'),
         url('/src/assets/fonts/Helvetica/Helvetica.woff') format('woff'),
         url('/src/assets/fonts/Helvetica/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Helvetica Bold Fonts */
@font-face {
    font-family: 'Helvetica';
    src: url('/src/assets/fonts/Helvetica-Bold/Helvetica-Bold.woff2') format('woff2'),
         url('/src/assets/fonts/Helvetica-Bold/Helvetica-Bold.woff') format('woff'),
         url('/src/assets/fonts/Helvetica-Bold/Helvetica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Helvetica Light Fonts */
@font-face {
    font-family: 'Helvetica';
    src: url('/src/assets/fonts/Helvetica-Light/Helvetica-Light.woff2') format('woff2'),
         url('/src/assets/fonts/Helvetica-Light/Helvetica-Light.woff') format('woff'),
         url('/src/assets/fonts/Helvetica-Light/Helvetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Helvetica Black Original Fonts */
@font-face {
    font-family: 'Helvetica Black Original';
    src: url('/src/assets/fonts/Helvetica-Black/HelveticaBlackOriginal-Bold.woff2') format('woff2'),
         url('/src/assets/fonts/Helvetica-Black/HelveticaBlackOriginal-Bold.woff') format('woff'),
         url('/src/assets/fonts/Helvetica-Black/HelveticaBlackOriginal-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Helvetica Narrow Bold Fonts */
@font-face {
    font-family: 'Helvetica-Narrow';
    src: url('/src/assets/fonts/Helvetica-Narrow-Bold/Helvetica-NarrowBold.woff2') format('woff2'),
         url('/src/assets/fonts/Helvetica-Narrow-Bold/Helvetica-NarrowBold.woff') format('woff'),
         url('/src/assets/fonts/Helvetica-Narrow-Bold/Helvetica-NarrowBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
