* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: rgb(12, 12, 12);
  color: inherit;
}

::-moz-selection {
  background: rgb(125, 203, 250);
  color: inherit;
}

body {
  font-family: 'Graphik', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
  background: black;
  color: white;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  width: 100%;
  position: relative;
  background: black;
}

main {
  width: 100%;
  position: relative;
}

main > * {
  min-height: 100vh;
  width: 100%;
  background: black;
}
