* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
}

body, main {
  font-family: 'Helvetica', sans-serif;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Ensure no horizontal scrolling */
  position: relative;
  scroll-behavior: smooth;
  overscroll-behavior: none; /* Prevent scrolling past the content */
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
