@font-face {
    font-family: 'Helvetica Black Original';
    src: url('HelveticaBlackOriginal-Bold.eot');
    src: url('HelveticaBlackOriginal-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaBlackOriginal-Bold.woff2') format('woff2'),
        url('HelveticaBlackOriginal-Bold.woff') format('woff'),
        url('HelveticaBlackOriginal-Bold.ttf') format('truetype'),
        url('HelveticaBlackOriginal-Bold.svg#HelveticaBlackOriginal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

