.contact {
  min-height: 100vh;
  padding: 0 6vw;
  font-family: "Graphik", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: black;
  color: white;
}

.contact h1 {
  font-size: clamp(2rem, 6vw, 5.5rem);
  font-weight: 300;
  letter-spacing: 0.05px;
  line-height: 1;
  -webkit-text-stroke: 3px white;
  color: white;
  margin-bottom: 2.5vh;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.contact-links {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0 1rem;
  line-height: 1.1;
}

.contact-column {
  display: flex;
  flex-direction: column;
}

.contact-item {
  font-size: clamp(1rem, 2.8vw, 2.4rem);
  line-height: 1.04;
  letter-spacing: 0.05em;
  -webkit-text-stroke: 0.4px white;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  display: inline-block;
  position: relative;
  width: fit-content;
}

/* Nest Hub (1024x600) */
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .contact {
    padding: 0 6vw;
  }

  .contact h1 {
    font-size: clamp(2rem, 6vw, 5.5rem);
  }

  .contact-item {
    font-size: clamp(2.8rem, 3vw, 3.2rem);
  }
}

/* Surface Pro 7 (912x1368) */
@media screen and (max-width: 912px) {
  .contact {
    padding: 0 6vw;
  }

  .contact h1 {
    font-size: clamp(2rem, 6vw, 5.5rem);
  }

  .contact-item {
    font-size: clamp(2.8rem, 3.5vw, 3.2rem);
  }
}

/* iPad Air (820x1180) */
@media screen and (max-width: 820px) {
  .contact {
    padding: 0 6vw;
  }

  .contact h1 {
    font-size: clamp(2rem, 6vw, 5.5rem);
  }

  .contact-item {
    font-size: clamp(2.5rem, 3vw, 2.8rem);
  }
}

/* iPad Mini and smaller tablets */
@media screen and (max-width: 768px) {
  .contact {
    padding: 0 6vw;
  }

  .contact h1 {
    font-size: clamp(2rem, 6vw, 5.5rem);
  }

  .contact-item {
    font-size: clamp(2.3rem, 2.8vw, 2.5rem);
  }
}

/* Large Phones */
@media screen and (max-width: 540px) {
  .contact {
    padding: 0 6vw;
  }

  .contact h1 {
    font-size: clamp(2rem, 6vw, 5.5rem);
  }

  .contact-item {
    font-size: clamp(2rem, 2.5vw, 2.3rem);
  }
}

/* Medium Phones */
@media screen and (max-width: 430px) {
  .contact {
    padding: 0 6vw;
  }

  .contact h1 {
    font-size: clamp(2rem, 6vw, 5.5rem);
  }

  .contact-item {
    font-size: clamp(1.8rem, 2vw, 2rem);
  }
}

/* Small Phones */
@media screen and (max-width: 375px) {
  .contact {
    padding: 0 6vw;
  }

  .contact h1 {
    font-size: clamp(2rem, 6vw, 5.5rem);
  }

  .contact-item {
    font-size: clamp(1.6rem, 1.8vw, 1.8rem);
  }
}
